<!DOCTYPE html>
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://fb.me/react-0.5.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.5.1.js"></script>
    <script src="http://static.twilio.com/libs/twiliojs/1.1/twilio.js"></script>
    <link href='/stylesheets/index.css' rel='stylesheet'/>
  </head>
  <body>
    <div id="content">Loading app, please wait.</div>
    <script src="/dashboard.jsx" type="text/jsx"></script>
  </body>
</html>
