<!DOCTYPE html>
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/React.js"></script>
    <script src="/JSXTransformer.js"></script>
  </head>
  <body>
    <div id="content">Loading app, please wait.</div>
    <script src="/dashboard.jsx" type="text/jsx"></script>
  </body>
</html>
