.header {
  background-color: #F2F1EB;
  height: 147px;
  border-bottom: 10px solid #028C90;
}

body {
  margin: 0;
}

.headerContainer {
  width: 960px;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: 20px;
}

.stats {
  float: right;
  font-size: 24px;
  margin-right: 200px;
  margin-top: 60px;
}

.login-indicator {
  float: right;
  border-left: 1px solid #02696C;
  height: 147px;
}

.statNumbers {
  font-weight: bold;
  float: left;
  text-align: right;
  padding-right: 40px;
  font-family: 'Helvetica', Arial, sans-serif;
}

.statNumbers div {
  margin-bottom: 5px;
}

.statText div {
  margin-bottom: 5px;
}

.statText {
  float: right;
  font-family: 'Helvetica', Arial, sans-serif;
}

.user-name {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-left: 50px;
  text-align: center;
  margin-top: 5px;
}

.user-image {
  margin-top: 40px;
  margin-left: 80px;
}

.upload-btn {
  border-radius: 5px;
  border: none;
  background-color: #028C90;
  color: #FFFFFF;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  width: 250px;
  height: 40px;
  margin-top: 40px;
  padding-top: 15px;
}

.left-column {
  width: 600px;
  float: left;
}

.viewReportsButton {
  float: right;
  border-radius: 5px;
  border: none;
  background-color: #028C90;
  color: #FFFFFF;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  width: 250px;
  height: 40px;
  padding-top: 15px;
  margin-top: -55px;
}

.hiddenFile {
  width: 0;
  height: 0;
}

.body {
  width: 960px;
  margin: 0 auto;
}

.fileDiv {
  width: 250px;
}